---
import { t } from "i18next";
import { Image } from "astro:assets";
import credits from "./credits.json";
import type { ImageMetadata } from "astro";

const images = import.meta.glob<{ default: ImageMetadata }>("./profiles/*.{png,jpg,gif}", {
  eager: true,
});
---

<section class="not-prose contents">
  <h2 class="ssl-hyper-text text-3xl font-extrabold">{t("details.headers.credits", "Credits")}</h2>
  <div class="flex w-full max-w-3xl flex-wrap justify-center">
    {
      credits.map((credit, index) => (
        <>
          {credits[index - 1]?.credit !== credit.credit && <div class="my-2 w-full" />}
          <a
            href={credit.url}
            target="_blank"
            class="flex h-36 w-28 flex-col items-center justify-center gap-1 drop-shadow"
          >
            <Image
              src={images[`./profiles/${credit.image}`].default}
              class="aspect-square w-24 rounded bg-white"
              alt={credit.name}
            />
            <div class="text-center">
              <p class="font-bold leading-tight underline">{credit.name}</p>
              <p class="text-xs font-extrabold leading-none">{credit.credit}</p>
            </div>
          </a>
        </>
      ))
    }
  </div>
</section>
