---
import "@fontsource-variable/nunito";

import EventLayout from "$layouts/EventLayout.astro";
import { ArrowDown, Twitter } from "lucide-svelte";
import CountDown from "$components/CountDown.svelte";
import LocalTime from "$components/LocalTime.svelte";
import Logo from "./_logo-3.png";
import Modes from "./_modes.png";
import Embed from "./_embed.png";
import Accordion from "./_Accordion.svelte";
import Participating from "./_Participating.svelte";

const dates = {
  warmup: new Date("2024-04-06T21:30:00Z"),
  main: new Date("2024-04-06T22:00:00Z"),
  afterparty: new Date("2024-04-07T00:00:00Z"),
};
---

<EventLayout
  title="Super Streamer Lobby 3"
  summary="Join and play with over 200 TETR.IO streamers!"
  description="The third Super Streamer Lobby event has been announced! To read more about one of the largest streamer collaborations, click here!"
  image={Embed.src}
  twitterCard="summary_large_image"
>
  <div class="flex flex-col ssl-bg w-screen px-2 items-center">
    <header class="relative h-screen grid place-content-center max-w-4xl">
      <div class="flex flex-col items-center">
        <img
          src={Logo.src}
          alt="Super Streamer Lobby 3"
          style="filter: drop-shadow(-14px 14px 0px hsla(0, 0%, 0%, 25%));"
        />
        <div>
          <p class="px-7 text-2xl text-center max-md:text-lg">
            The community event featuring over 200 streamers and their viewers
            battling it out in one TETR.IO match.
          </p>
        </div>
        <div
          class="bg-white rounded shadow-xl px-4 py-2 text-2xl w-fit mt-5 flex flex-col items-center whitespace-nowrap max-sm:text-base"
        >
          <p class="font-bold ssl-hyper-text drop-shadow shadow-dark">
            <CountDown date={dates.main} client:load />
          </p>
          <p class="text-zinc-600 text-sm max-sm:text-xs">
            <LocalTime
              date={dates.main}
              options={{
                weekday: "long",
                month: "long",
                day: "numeric",
                hour: "numeric",
                minute: "2-digit",
                timeZoneName: "shortGeneric",
              }}
              client:load
            />
          </p>
        </div>
      </div>
      <a
        class="absolute bottom-8 left-1/2 -translate-x-1/2 bg-white shadow rounded-full p-1"
        href="#about"
      >
        <ArrowDown size="2rem" />
      </a>
    </header>
    <!-- Main event info -->
    <section class="contents">
      <!-- Agenda bullets -->
      <div id="about" class="max-w-4xl w-full flex gap-2 max-md:flex-wrap">
        <div class="flex flex-col">
          <p class="font-extrabold text-5xl ssl-hyper-text">16 Games</p>
          <ul class="font-bold">
            <li class="text-xl">8 Standard Games</li>
            <li class="text-xl">8 Custom Modes</li>
          </ul>
        </div>
      </div>
      <!-- Game modes -->
      <div
        class="ssl-dynamic-scale relative w-full py-20 my-7"
        style={{
          "--width": `${Modes.width}px`,
          "--height": `${Modes.height}px`,
          height: "calc(var(--height)/var(--scale))",
        }}
      >
        <div
          class="ssl-scrolling-banner absolute h-full w-[calc(120vw)] top-0 -left-10 -rotate-6"
          style={{
            backgroundImage: `url('${Modes.src}')`,
            backgroundSize:
              "calc(var(--width)/var(--scale)) calc(var(--height)/var(--scale))",
            backgroundRepeat: "repeat-x",
            backgroundPositionY: "center",
            filter: "drop-shadow(-7px 7px 4px hsla(0, 0%, 0%, 25%))",
          }}
        >
        </div>
      </div>
      <!-- Players Stats -->
      <div class="max-w-4xl w-full flex items-end flex-col text-right">
        <ul class="font-bold">
          <li class="text-xl">Streamers and Viewers totalling</li>
        </ul>
        <p class="font-extrabold text-5xl ssl-hyper-text">300+ Players</p>
      </div>
    </section>
    <div class="my-10"></div>
    <!-- Secondary events -->
    <div class="grid grid-cols-2 max-lg:grid-cols-1 gap-2 max-lg:gap-10">
      <section class="contents">
        <div class="mx-2 w-full max-w-xl">
          <h2 class="font-extrabold text-3xl ssl-hyper-text mb-2">
            Event Schedule
          </h2>
          <Accordion {dates} client:idle />
        </div>
      </section>
      <!-- Involed -->
      <section class="contents">
        <div class="mx-2 w-full max-w-xl">
          <h2 class="font-extrabold text-3xl ssl-hyper-text mb-2">
            Streamers Involved
          </h2>
          <div class="bg-white shadow rounded p-5">
            <Participating client:idle />
          </div>
        </div>
      </section>
      <!-- Credits -->
      <section class="contents">
        <div class="mx-2 w-full max-w-xl">
          <h2 class="font-extrabold text-3xl ssl-hyper-text mb-2">
            Custom assets
          </h2>
          <div class="bg-white shadow rounded p-5">
            The event also features original Background Music and Graphics
            created by several talented community members! And of course,
            shoutouts to many wonderful streamers in the TETR.IO chat!
          </div>
        </div>
        <div class="mx-2 w-full max-w-xl">
          <h2 class="font-extrabold text-3xl ssl-hyper-text mb-2">Credits</h2>
          <div class="bg-white shadow rounded p-5">
            <ul>
              <li>Creator/Host - Wylie</li>
              <li>Co-host/TETR.IO Admin/Right Hand Man - Dimentio</li>
              <li>SSL Team:</li>
              <li>Azura</li>
              <li>Drob</li>
              <li>Ferox</li>
              <li>Levhanni</li>
              <li>Lyra</li>
              <li>St4r</li>
              <li>T-Flat</li>
              <li>thedavotigger</li>
              <li>badgoblin</li>
              <li>bennxt</li>
              <li>willyjwillyj</li>
              <li>Zudo</li>
              <li>Blink</li>
              <li>JaydeeMoon</li>
              <li>Music:</li>
              <li>Cirnochan01</li>
              <li>AuroraXD</li>
              <li>Raiinwing</li>
              <li>Jasper Lucas</li>
              <li>Website:</li>
              <li>Josh</li>
              <li>Graphics & Artwork:</li>
              <li>IceFireEmily</li>
              <li>SketchyArtsyv</li>
              <li>Milkthos_sena</li>
              <li>Translators:</li>
              <li>arandomguy</li>
              <li>Andy8254</li>
              <li>bennxt</li>
              <li>herma_etc</li>
              <li>ManakaRei</li>
              <li>rikayamano</li>
              <li>Rklplol</li>
              <li>Thank you to:</li>
              <li>osk, MoosePK</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <section class="contents">
      <div class="max-w-4xl w-full flex justify-center my-20">
        <a
          class="flex gap-2 bg-blue-200 p-2 rounded text-blue-900 shadow font-bold"
          href="https://twitter.com/wyliecanttwitta/"
          target="_blank"
          rel="noopener noreferrer"><Twitter /> Contact Wylie</a
        >
      </div>
    </section>
  </div>
</EventLayout>

<style lang="postcss">
  :global(.body) {
    @apply font-semibold;
    font-family: "Nunito Variable", sans-serif;
  }

  .ssl-bg {
    background: hsl(262, 100%, 73%);
    background: linear-gradient(
      155deg,
      hsl(339, 100%, 75%) 0%,
      hsl(38, 100%, 75%) 50%,
      hsl(262, 100%, 73%) 100%
    );
  }

  .ssl-hyper-text {
    color: transparent;
    background: linear-gradient(
      90deg,
      hsl(339, 100%, 60%) 0%,
      hsl(38, 100%, 50%) 50%,
      hsl(262, 100%, 60%) 100%
    );
    background-repeat: repeat-x;
    background-clip: text;
    filter: drop-shadow(1.5px 1.5px white) drop-shadow(-1.5px -1.5px white)
      drop-shadow(1.5px -1.5px white) drop-shadow(-1.5px 1.5px white);
  }

  .ssl-hyper-text.shadow-dark {
    filter: drop-shadow(0px 0px 4px hsla(0, 0, 0, 10%));
  }

  .ssl-dynamic-scale {
    --scale: 3;
  }

  @media not all and (min-width: 920px) {
    .ssl-dynamic-scale {
      --scale: 4;
    }
  }

  @keyframes background-scroll {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: var(--width);
    }
  }

  .ssl-scrolling-banner {
    animation: background-scroll 42s linear infinite;
  }

  @media not all and (min-width: 768px) {
    .ssl-scrolling-banner {
      animation: background-scroll 56s linear infinite;
    }
  }
</style>
