---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  summary: string;
  description?: string;
  image?: { src: string };
  twitterCard?: "summary" | "summary_large_image" | "app" | "player";
  lang?: string;
}

const { title, description, summary, image, twitterCard = "summary", lang } = Astro.props;
const imageUrl = image
  ? import.meta.env.PROD
    ? new URL(image.src, import.meta.env.SITE).toString()
    : image.src
  : undefined;
---

<BaseLayout title={title} lang={lang}>
  <Fragment slot="head">
    {
      title && (
        <>
          <meta property="og:title" content={title} />
          <meta property="twitter:title" content={title} />
        </>
      )
    }
    {
      summary && (
        <>
          <meta property="og:description" content={summary} />
          <meta property="twitter:description" content={summary} />
          {!description && <meta property="description" content={summary} />}
        </>
      )
    }
    {description && <meta property="og:description" content={description} />}
    {
      image && (
        <>
          <meta property="og:image" content={imageUrl} />
          <meta property="twitter:image" content={imageUrl} />
        </>
      )
    }
    {twitterCard && <meta property="twitter:card" content={twitterCard} />}
  </Fragment>
  <div class="flex flex-col items-center px-2">
    <slot />
  </div>
</BaseLayout>
